---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<main class="app-container py-24">
		<div class="max-w-3xl mx-auto">
			<h1 class="text-4xl sm:text-5xl leading-snug pt-4 xl:pt-8 font-bold">About Me</h1>
			<div
				class="prose prose-neutral prose-xl dark:prose-invert prose-img:rounded-xl prose-figure:text-center prose-img:mx-auto mt-8"
			>
				<p>
					I'm Fergus Finn (formerly. Fergus Barratt). I'm currently the Chief
					Technology Officer at <a href="https://doubleword.ai">Doubleword</a>, a startup
					focused on building inference systems for LLMs.
				</p>
				<p>
					I used to do quantum physics research: see
					<a href="https://scholar.google.com/citations?user=tAp5bZ8AAAAJ&hl=en">here</a> for a list of stuff I was involved in.
				</p>
			</div>
		</div>
	</main>
</BaseLayout>
