---
import { getCollection } from 'astro:content'
import BlogCard from '../components/BlogCard.astro'
import BaseLayout from '../layouts/BaseLayout.astro'

const posts = (await getCollection('blog', ({ data }) => data.index !== false)).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<BaseLayout>
	<main class="app-container lg:!px-16 xl:!px-24 2xl:!px-32 pt-36">
		<h1 class="text-6xl pb-8 font-bold">Blog</h1>
	</main>
	<section class="app-container lg:!px-16 xl:!px-24 2xl:!px-32 py-16 mb-8">
		<ul class="posts-grid-container">
			{
				posts.map((post) => (
					<li>
						<BlogCard post={post} />
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>
